@import "theme-color.scss";
@import "bulma/bulma.sass";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$grey: #fafafa;

*, *:after, *:before {
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-close {
	display: none !important;
}

.v-toast__item  {
	min-height: 2rem;
	.v-toast__icon {
		width: 24px;
		min-width: 24px;
		height: 24px;
		min-height: 24px;
	}
	.v-toast__text {
		padding: 0.75rem;
	}
}